
/* Chai Font */
@font-face {                 
  font-family: 'Chai';                 
  src: url(../fonts/Chai.woff) format("woff"),
  url(../fonts/Chai.ttf) format("truetype"),
  url(../fonts/Chai.otf) format("opentype"),
  url(../fonts/Chai.svg#Chai) format("svg");              
  font-style: normal;                 
  }  

.chai {
font-family: Chai;
}

/* Braille Font */
@font-face {                 
  font-family: 'Braille';                 
  src: url(../fonts/Braille.woff) format("woff"),
  url(../fonts/Braille.ttf) format("truetype"),
  url(../fonts/Braille.otf) format("opentype"),
  url(../fonts/Braille.svg#Braille) format("svg");
  font-style: normal;                 
  }  

.braille {
font-family: Braille, sans-serif;
}
/* Korean Font */

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
       url('../fonts/NotoSansKR-Medium.woff') format('woff'),
       url('../fonts/NotoSansKR-Medium.otf') format('opentype');
  font-style: normal;
}

.kr {
font-family: 'Noto Sans KR', sans-serif;
}

#koreanID {
font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'KeiFont-w';
  src: url('../fonts/KeiFont.eot');
  src: url('../fonts/KeiFont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KeiFont.woff2') format('woff2'),
  url('../fonts/KeiFont.woff') format('woff'),
  url('../fonts/KeiFont.ttf') format('truetype');
  font-weight: 800;
}

.jp {
  font-family: 'KeiFont-w', sans-serif;
}